:root{
    --color-primary: #f6d200;
    --color-grey: #ededed;
    --color-dark: #000;
    --color-white: #fff;
}

a:link,
a:visited{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
}

.section-heading{
    color: var(--color-dark);
    text-transform: capitalize;
    margin: 30px 0;
    text-align: center;
    font-size: 36px;
}