:root{
    --color-primary: #f6d200;
    --color-grey: #ededed;
    --color-dark: #000;
    --color-white: #fff;
}

a:link,
a:visited{
    text-decoration: none;
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
}